/*.dropdown-toggle {
  color:#FFF !important;
}*/

header {
  background-color: #bec3d1;
  color: #101523;
}

.sidebar-mymenu {
  transition: width 0.3s ease;
}

@media screen and (max-width: 768px) {
  .sidebar-mymenu {
    width: 0;
  }
}

.modal-custom {
  max-width: 800px; /* Cambia este valor según tus necesidades */
}

a {
  cursor: pointer;
}
