  <header class="py-3 mb-3 border-bottom">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
      <div class="dropdown">
          <a *ngIf="isSidebarOpen" href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/logo-min.png" width="45px" alt="SERV-APP" />
          </a>
        <ul class="dropdown-menu text-small shadow">
          <!--<li><a class="dropdown-item active" href="#" aria-current="page">Overview</a></li>-->
          <li *ngFor="let item of mainMenu.defaultOptions">
            <a class="dropdown-item" href="{{item.url[1]}}">
              <i [ngClass]="['uil',item.icon]"></i>
              {{item.name}}
            </a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li *ngFor="let item of mainMenu.customOptions">
            <a class="dropdown-item" href="{{item.url[0]}}">
              <i [ngClass]="['uil',item.icon]"></i>
              {{item.name}}
            </a>
          </li>
        </ul>
      </div>

      <div class="d-flex align-items-center">
        <form class="w-100 me-3" role="search">
          <div style="max-width: 100%; float: right;">
            <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search">
          </div>
        </form>

        <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/user2.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#">Configuración</a></li>
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
