  <header class="py-3 mb-3 border-bottom">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
      <div class="dropdown">
          <a *ngIf="isSidebarOpen" href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/logo-min.png" width="45px" alt="SERV-APP" />
          </a>
        <ul class="dropdown-menu text-small shadow">
          <!--<li><a class="dropdown-item active" href="#" aria-current="page">Overview</a></li>-->
          <li *ngFor="let item of mainMenu.defaultOptions">
            <a class="dropdown-item" [routerLink]="item.url">
              <i [ngClass]="['uil',item.icon]"></i>
              {{item.name}}
            </a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li *ngFor="let item of mainMenu.customOptions">
            <a class="dropdown-item" [routerLink]="item.router" [queryParams]="item.query">
              <i [ngClass]="['uil',item.icon]"></i>
              {{item.name}}
            </a>
          </li>
        </ul>
      </div>

      <div class="d-flex align-items-center">
        <form class="w-100 me-3" role="search">
          <div style="max-width: 100%; float: right;">
            <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search" data-bs-toggle="modal" data-bs-target="#exampleModal" readonly >
          </div>
        </form>
        <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/user2.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#"> <i [ngClass]="['uil',mainMenu.userOptions[0].icon]"></i> Configuración</a></li>
            <li><a class="dropdown-item" href="#"> <i [ngClass]="['uil',mainMenu.userOptions[1].icon]"></i> Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item"  (click)="logout()"> <i [ngClass]="['uil',mainMenu.userOptions[2].icon]"></i> Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-custom">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Búsqueda</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <app-search-page [mode] = "'min'" [isMin] = "true" ></app-search-page>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary">Búsqueda Avanzada</button>
            </div>
          </div>
        </div>
      </div>
  </header>
