.wrapper {
  display: flex;
  min-height: 100%;

}


.content {
  flex: 1;
  padding: 0px;
  background-color: rgb(236, 234, 234);/* Fondo del contenido principal */
}

hr {
  border: 0;
  height: 1px;
  background-color: #101523;
  margin-top: 0;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;

}

/*
.header {
  position: fixed;
  bottom: 0;
  width: 90%;
  height: 100%;
}
*/
