
<!--div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;"-->
<div class="sidebar">
  <div class="sidebar-header">
    <a href="/" class="">
      <img src="assets/images/logo.png" width="190px" alt="SERV-APP" />
    </a>
  </div>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" [routerLink]="item.router" [queryParams]="item.query" *ngFor="let item of mainMenu.defaultOptions">
      <a href="{{item.url[1]}}" class="nav-link text-white" aria-current="page">
        <i class="icon-with-text" [ngClass]="['uil',item.icon]"> </i>
        <span>{{item.name}}</span>
      </a>
    </li>
  </ul>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" [routerLink]="item.router" [queryParams]="item.query" *ngFor="let item of mainMenu.customOptions">
      <a href="{{item.url[0]}}" class="nav-link text-white activez" aria-current="page">
        <i class="icon-with-text" [ngClass]="['uil',item.icon]"></i>
        <span>{{item.name}}</span>
      </a>
    </li>
  </ul>
</div>


<!--
<c-sidebar
  #sidebar="cSidebar"
  class="d-print-none sidebar sidebar-fixed"
  id="sidebar"
  visible
>
<c-sidebar-brand
[brandFull]="{
  src: 'assets/images/logo.png',
  width: 200,
  height: 46,
  alt: 'CoreUI Logo'
}"
[brandNarrow]="{
  src: 'assets/images/logo-mins.png',
  width: 46,
  height: 46,
  alt: 'CoreUI Logo'
}"
routerLink="./"
/>
  <c-sidebar-nav [navItems]="navItems" dropdownMode="close"></c-sidebar-nav>
  <c-sidebar-toggler></c-sidebar-toggler>
</c-sidebar>
-->
