<c-card [cBorder]="abonado.color.color" [textColor]="abonado.color.textColor" class="mb-3">
  <c-card-header><strong>Historial</strong></c-card-header>
  <c-card-body>
    <div>
      <input type="text" class="form-control me-2" placeholder="Buscar..." (keyup)="filterData($event)">
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="emision">
          <th mat-header-cell *matHeaderCellDef> <strong>Emisión</strong></th>
          <td mat-cell *matCellDef="let element"> <a [routerLink]="['/', 'home', 'emission']" [queryParams]="{id_emision: element.id_emision}" class="boton-emision">{{element.emsion}}</a> </td>
        </ng-container>

        <ng-container matColumnDef="lectura_actual">
          <th mat-header-cell *matHeaderCellDef> Lectura Actual </th>
          <td mat-cell *matCellDef="let element">
            <!--<a href="javascript:void(0)" (click)="openImageModal(element)" class="boton-emision">{{element.lectura_actual}}</a>-->
            <!--<a href="javascript:void(0)" class="boton-imagen">{{element.lectura_actual}}</a>-->
            <button type="button" class="boton-imagen" data-bs-toggle="modal" data-bs-target="#exampleModalImage">
              {{element.lectura_actual}}
            </button>

          </td>
        </ng-container>

        <ng-container matColumnDef="lectura_anterior">
          <th mat-header-cell *matHeaderCellDef> Lectura Anterior </th>
          <td mat-cell *matCellDef="let element"> {{element.lectura_anterior}} </td>
        </ng-container>

        <ng-container matColumnDef="consumo">
          <th mat-header-cell *matHeaderCellDef> Consumo </th>
          <td mat-cell *matCellDef="let element"> {{element.consumo}} </td>
        </ng-container>

        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef> Valor </th>
          <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
        </ng-container>

        <ng-container matColumnDef="pagado">
          <th mat-header-cell *matHeaderCellDef> Pagado </th>
          <td mat-cell *matCellDef="let element"> {{element.pagado | payToText}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha_cobro" *ngIf="mode == 'full'">
          <th mat-header-cell *matHeaderCellDef> Fecha Cobro </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha_cobro | date:"dd/MM/yyyy"}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha_emision" *ngIf="mode == 'full'">
          <th mat-header-cell *matHeaderCellDef> Fecha Emisión </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha_emision | date:"dd/MM/yyyy"}} </td>
        </ng-container>

        <ng-container matColumnDef="novedad" *ngIf="mode == 'full'">
          <th mat-header-cell *matHeaderCellDef> Novedad </th>
          <td mat-cell *matCellDef="let element"> {{element.novedad}} </td>
        </ng-container>

        <ng-container matColumnDef="estado" *ngIf="mode == 'full'">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.estado | stateToText}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </c-card-body>
</c-card>

<!-- Modal -->
<div class="modal fade" id="exampleModalImage" tabindex="-1" aria-labelledby="exampleModalLabelImage" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabelImage">Foto Lectura</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body contenedor">
        <img src="https://www.afnbc.com/imagenes/medidor-agua-3-julio-20.jpg" alt="Foto Lectura">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
