.contenedor {
  width: 450px; /* Ancho del contenedor */
  border: 1px solid #ccc; /* Borde para visualización */
  overflow: hidden; /* Para manejar imágenes grandes */
  align-items: center;
  margin: auto;
}
.contenedor img {
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  height: auto; /* La altura se ajusta automáticamente */
  display: block; /* Asegura que la imagen no tenga espacios en blanco debajo */
}
