.wrapper {
  display: flex;
  min-height: 100%;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  padding: 0;
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
}

.content {
  flex: 1;
  padding: 0px;
  background-color: #eee; /* Fondo del contenido principal */
}

header {
  background-color: #555;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer {
  background-color: #555;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: auto; /* Hace que el pie de página se quede en la parte inferior del contenedor */
}
