<div class="contact-page">
  <div class="container-body">
    <div class="card">
      <div class="card-header">
        Envíanos un mensaje
      </div>
      <div class="card-body">
        <h5 class="card-title">Datos del cliente</h5>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" value="Luis Miguel">
              <label for="floatingInput">Nombre</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" value="Lima Juma">
              <label for="floatingInput">Apellido</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" value="+5936585252545l">
              <label for="floatingInput">Telefono</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" value="name@example.com">
              <label for="floatingInput">Correo Electronico</label>
            </div>
          </div>
        </div>
        <p class="card-text">Asunto:</p>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="Reclamo">
          <label for="floatingInput">Asunto</label>
        </div>
        <br>
        <p class="card-text">Escribe tu mensaje:</p>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea3" style="height: 100px"></textarea>
          <label for="floatingTextarea3">Mensaje</label>
        </div>
        <br>
        <a href="#" class="btn btn-primary">Enviar</a>
      </div>
    </div>
  </div>
</div>

