<div class="container">
  <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 mx-auto">
          <h2 class="h3 mb-4 page-title">Configuración</h2>
          <div class="my-4">
              <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Notificaciones</a>
                  </li>
              </ul>
              <h5 class="mb-0 mt-5">Configuracion de Notificaciones</h5>
              <p>Seleccione la notificación que desea recibir</p>
              <hr class="my-4" />
              <strong class="mb-0">Seguridad</strong>
              <p>Controle la alerta de seguridad y se le notificará.</p>
              <div class="list-group mb-5 shadow">
                  <div class="list-group-item">
                      <div class="row align-items-center">
                          <div class="col">
                              <strong class="mb-0">Notificaciones de actividad inusual</strong>
                              <p class="text-muted mb-0">Se notificará por correo electrónico sobre los servicios que presenten anomalías en el consumo basado en el promedio de meses anteriores.</p>
                          </div>
                          <div class="col-auto">
                              <div class="custom-control custom-switch">
                                  <input type="checkbox" class="custom-control-input" id="alert1" checked="" />
                                  <span class="custom-control-label"></span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="list-group-item">
                      <div class="row align-items-center">
                          <div class="col">
                              <strong class="mb-0">Actividad no autorizada</strong>
                              <p class="text-muted mb-0">Se notificará por correo electrónico cada vez que se acceda a la página web con mi cuenta.</p>
                          </div>
                          <div class="col-auto">
                              <div class="custom-control custom-switch">
                                  <input type="checkbox" class="custom-control-input" id="alert2" />
                                  <span class="custom-control-label"></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <hr class="my-4" />
              <strong class="mb-0">Sistema</strong>
              <p>Habilite la alerta del sistema que recibirá.</p>
              <div class="list-group mb-5 shadow">
                  <div class="list-group-item">
                      <div class="row align-items-center">
                          <div class="col">
                              <strong class="mb-0">Notificarme sobre nuevas funciones y actualizaciones.</strong>
                              <p class="text-muted mb-0">Se notificará por correo electrónico a cerca de las nuevas actualizaciones que se realicen en la página web.</p>
                          </div>
                          <div class="col-auto">
                              <div class="custom-control custom-switch">
                                  <input type="checkbox" class="custom-control-input" id="alert3" checked="" />
                                  <span class="custom-control-label"></span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="list-group-item">
                      <div class="row align-items-center">
                          <div class="col">
                              <strong class="mb-0">Notificarme por correo electrónico para las últimas noticias.</strong>
                              <p class="text-muted mb-0">Se notificará por correo electrónico sobre las últimas noticias de los proveedores del servicio.</p>
                          </div>
                          <div class="col-auto">
                              <div class="custom-control custom-switch">
                                  <input type="checkbox" class="custom-control-input" id="alert4" checked="" />
                                  <span class="custom-control-label"></span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="list-group-item">
                      <div class="row align-items-center">
                          <div class="col">
                              <strong class="mb-0">Notificarme sobre consejos sobre el uso de la cuenta.</strong>
                              <p class="text-muted mb-0">Se enviar corres electrónico sobre como se puede sacar provecho de los resultados que muestra el sistema.</p>
                          </div>
                          <div class="col-auto">
                              <div class="custom-control custom-switch">
                                  <input type="checkbox" class="custom-control-input" id="alert5" />
                                  <span class="custom-control-label"></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  </div>
