<div class="emission-page">

  <c-row class="d-flex justify-content-center align-items-center">
    <c-col  index as i [lg]="4">
      <app-card-emission [historial]="dataEmision?.history || undefined" [color]="this_color"></app-card-emission>
    </c-col>
    <c-col index as i [lg]="4">
      <app-card-line-chart *ngIf="dataEmision?.emisiones" [color]="this_color" [header]='"Resumen de Consumo"' [dataEmisiones]="dataEmision?.emisiones" [mode]='"all_summary"'></app-card-line-chart>
    </c-col>
    <c-col index as i [lg]="4">
      <app-card-photo [color]="this_color"></app-card-photo>
    </c-col>
  </c-row>
  <c-row class="d-flex justify-content-center align-items-center">
    <c-col index as i [lg]="4">
      <app-card-photo [color]="this_color"></app-card-photo>
    </c-col>
    <c-col index as i [lg]="8">
      <app-list-values-page *ngIf="dataEmision?.rubros" [color]="this_color" [rubros]="dataEmision?.rubros"></app-list-values-page>
    </c-col>
  </c-row>

</div>
